<section>
  <div class="px-4 py-5">
    <ul class="grid grid-cols-4 gap-5">
      <li class="drop-shadow bg-white hover:drop-shadow-xl transition duration-300 ease-in-out">
        <div>
          <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&quality=85&auto=format&fit=max&s=a52bbe202f57ac0f5ff7f47166906403" alt="">
        </div>
        <div class="flex gap-3 text-center rounded px-3 py-2">
          <div>
            <div class="font-bold">Likes</div>
            <div>2090</div>
          </div>
          <div>
            <div class="font-bold">Views</div>
            <div>674272</div>
          </div>
          <div>
            <div class="font-bold">Comments</div>
            <div>334</div>
          </div>
          <div>
            <div class="font-bold">Downloads</div>
            <div>304884</div>
          </div>
        </div>
      </li>
      <li  class="drop-shadow bg-white hover:drop-shadow-xl transition duration-300 ease-in-out">
        <div>
          <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&quality=85&auto=format&fit=max&s=a52bbe202f57ac0f5ff7f47166906403" alt="">
        </div>
        <div class="flex gap-3 text-center rounded px-3 py-2">
          <div>
            <div class="font-bold">Likes</div>
            <div>2090</div>
          </div>
          <div>
            <div class="font-bold">Views</div>
            <div>674272</div>
          </div>
          <div>
            <div class="font-bold">Comments</div>
            <div>334</div>
          </div>
          <div>
            <div class="font-bold">Downloads</div>
            <div>304884</div>
          </div>
        </div>
      </li>
      <li  class="drop-shadow bg-white hover:drop-shadow-xl transition duration-300 ease-in-out">
        <div>
          <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&quality=85&auto=format&fit=max&s=a52bbe202f57ac0f5ff7f47166906403" alt="">
        </div>
        <div class="flex gap-3 text-center rounded px-3 py-2">
          <div>
            <div class="font-bold">Likes</div>
            <div>2090</div>
          </div>
          <div>
            <div class="font-bold">Views</div>
            <div>674272</div>
          </div>
          <div>
            <div class="font-bold">Comments</div>
            <div>334</div>
          </div>
          <div>
            <div class="font-bold">Downloads</div>
            <div>304884</div>
          </div>
        </div>
      </li>
      <li  class="drop-shadow bg-white hover:drop-shadow-xl transition duration-300 ease-in-out">
        <div>
          <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&quality=85&auto=format&fit=max&s=a52bbe202f57ac0f5ff7f47166906403" alt="">
        </div>
        <div class="flex gap-3 text-center rounded px-3 py-2">
          <div>
            <div class="font-bold">Likes</div>
            <div>2090</div>
          </div>
          <div>
            <div class="font-bold">Views</div>
            <div>674272</div>
          </div>
          <div>
            <div class="font-bold">Comments</div>
            <div>334</div>
          </div>
          <div>
            <div class="font-bold">Downloads</div>
            <div>304884</div>
          </div>
        </div>
      </li>
      <li  class="drop-shadow bg-white hover:drop-shadow-xl transition duration-300 ease-in-out">
        <div>
          <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&quality=85&auto=format&fit=max&s=a52bbe202f57ac0f5ff7f47166906403" alt="">
        </div>
        <div class="flex gap-3 text-center rounded px-3 py-2">
          <div>
            <div class="font-bold">Likes</div>
            <div>2090</div>
          </div>
          <div>
            <div class="font-bold">Views</div>
            <div>674272</div>
          </div>
          <div>
            <div class="font-bold">Comments</div>
            <div>334</div>
          </div>
          <div>
            <div class="font-bold">Downloads</div>
            <div>304884</div>
          </div>
        </div>
      </li>
      <li  class="drop-shadow bg-white hover:drop-shadow-xl transition duration-300 ease-in-out">
        <div>
          <img src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=1200&quality=85&auto=format&fit=max&s=a52bbe202f57ac0f5ff7f47166906403" alt="">
        </div>
        <div class="flex gap-3 text-center rounded px-3 py-2">
          <div>
            <div class="font-bold">Likes</div>
            <div>2090</div>
          </div>
          <div>
            <div class="font-bold">Views</div>
            <div>674272</div>
          </div>
          <div>
            <div class="font-bold">Comments</div>
            <div>334</div>
          </div>
          <div>
            <div class="font-bold">Downloads</div>
            <div>304884</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>